@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
        
        body {
            font-family: 'Inter', system_ui, sans-serif;
        }
        .logo-font {
            font-family: 'Space Grotesk', sans-serif;
        }
        .hero-bg {
            background: linear-gradient(135deg, #0F172A 0%, #1E2937 100%);
        }
        .nav-link {
            position: relative;
            transition: all 0.3s;
        }
        .nav-link:hover {
            color: #60A5FA;
        }

        .skill-bar {
            height: 8px;
            background: #1E2937;
            border-radius: 9999px;
            overflow: hidden;
        }
        .skill-fill {
            height: 100%;
            background: linear-gradient(to right, #3B82F6, #60A5FA);
            border-radius: 9999px;
        }
        .Quick{
            margin-left: 100px;
        }